<div class="bio">
    <center>
        <img src="/assets/img/me.png" style="width: 150px; height: 150px;">
    </center>
    <hr>
    <h3>G. Wesley Fisher</h3>
    <h4><i>@gwfisher</i></h4>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-solid fa-location-dot"></i></span> Fort Worth, TX</li>
        <li><span class="fa-li"><i class="fa-regular fa-message"></i></span> Probably smoking</li>
    </ul>
    <ul class="fa-ul">
        <li><span class="fa-li"><i class="fa-solid fa-link"></i></span> <a href="https://gwfisher.github.io">https://gwfisher.github.io</a></li>
        <li><span class="fa-li"><i class="fa-solid fa-briefcase"></i></span><a href="https://praetor.tel">https://praetor.tel</a></li>
        <li><span class="fa-li"><i class="fa-brands fa-linkedin"></i></span><a href="https://www.linkedin.com/in/gwesfisher/">gwesfisher</a></li>
        <li><span class="fa-li"><i class="fa-brands fa-twitter"></i></span><a href="https://x.com/GWesleyFisher">@gwesleyfisher</a></li>
    </ul>
    <br>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="gwesfisher" data-color="#4c566a" data-emoji="" data-font="Inter" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
</div>