.ygdrassil {
    width: 100%;
}

.footer {
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0;
}

.footer_content {
    font-size: xx-small;
}

.content {
    display: flex;
    margin: 0 auto;
    width: 75%;
    margin-top: 20px;
}

.bio {
    float: left;
    
}

.projects {
    display: inline-block;
    padding-left: 20px; 

}

.code {
    display: block;
    border: 1px 1px 1px 1px;

}

.blog {
    display: block;
}

.project_box {
    display: inline-block;
    background-color: $nord3;
    margin-top: 5px;
    width: 300px;
}

.project_contents {
    margin-left: 5px;
}


.ui-accordion-header {
    background-color: $nord3;
    border-bottom: 1px solid;
    height: 35px;
}

.ui-accordion-content {
    background-color: $nord4;
    margin-top: 0px;
    color: black;
    padding-left: 5px;
}

.ui-icon {
    padding: 5px 5px 5px 5px;
}

